:root{
    background-image: url(./imagens/css-particles-background.gif);
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    position:fixed;
    right: 0;
    text-align: center;
    top: 0;
    background-size: cover;
}


*{
    margin: 0;
    padding: 0;
}
.menu ul{
    list-style-type: none;
    margin: 0;
    padding:0%;
    overflow: hidden;
    background-color: #996791;
  }
  li{
    float: left;
  }
li a {
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
  background-color: #201f61;
 }
#name{
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10%;
    text-align: center;
    padding-bottom: 2%;
    color:blanchedalmond;
}
img{
    border-radius:50px;
}
#foto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}
a{
        text-decoration: none;
    }
#text1 {
    margin-left: 2%;
    text-align: center;
    color:blanchedalmond;
}