:root{
    background-color: #E6B1DE;
}


*{
    margin: 0;
    padding: 0;
}
#header{
 

}
.menu{
    width: 100%;
    height: 50%;
    background-color: #c09aea;
    font-family: 'Courier New', Courier, monospace;
}
.menu ul{
    list-style: none;
    padding-left: 70%;
}
.menu ul li{
    width: 150px;
    float: left;
 }
 #conteudo-principal {
 }
#texto-direito{
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10%;
    text-align: center;
    color: ;
}
#imagem {
    border-radius: 50% 25%;
}
a{
        text-decoration: none;
    }

   