#sidebar{
    background-color: #C0C0C0;
    background-repeat: no-repeat;
    color: black;
    left: 0;
    position:relative;
    right: 0;
    font-family: 'Courier New', Courier, monospace;
}

*{
    margin: 0;
    padding: 0;
}
.menu ul{
    list-style-type: none;
    margin: 0;
    padding:0%;
    overflow: hidden;
    background-color: #191970;
  }
li{
    float: left;
  }
.menu a {
    display:block;
    color: bisque;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu a:hover {
  background-color: #FF6347;
 }
#name{
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10%;
    text-align: center;
    padding-bottom: 2%;
    color:black;
}
img{
    border-radius:50px;
}
#foto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}
a{
        text-decoration: none;
    }
#text1 {
    margin-left: 2%;
    text-align: center;
    color:black;
}
.sobre{
    margin-top: 15%;
    background-color: #D3D3D3;
    float:left;
    width:100%;
    height: 600px;
    position:relative;
    text-align:center;
    color: black;
    font-size: 20px;
    
}
#sobre1{
    margin-top: 7%;
}
.texto2{
    margin-top: 45%;
    text-align: center;
    background-color: #C0C0C0;
    width:100%;
    height: 650px;
    font-size: 25px;
    color: black;
}

